*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #d7d7d7;
    color: black;
    margin: 0%;
    padding: 0%;
    text-align: center;

}

.copyright-text{
    text-align: center;
    font-weight: bold;
}


.contack_me{
    padding: auto;
    box-shadow: #d7d7d7;
}
#skill_s{
    color: blue;
    text-transform: uppercase;
}
#skill{
    padding: 10rem;
}
.me{
    width: 100%;
    height: 50rem;
    vertical-align: middle;
    border-style: none;
}
img{
    width: 20rem;
    
}

#skills-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 2pc;
   
}
.images img{
  
    width: 20rem;
    height: 25rem;
}
hr{
    width: 50rem;
}
.intro{
    color: black;
    font-weight: bold;
}